body {
  padding: 0;
  margin: 0;
}

.general-div {
  width: 100%;
  height: 100%;
  display: flex;
  
}

.right-block {
  width: 100%;
  height: 100%;
}

.all-categories {
  width: 20vh;
  height: 20vh;
  background-color: aqua;
}

.sorts {
  width: 20vh;
  height: 20vh;
  background-color: black;
}
.most-popular {
  width: 20vh;
  height: 20vh;
  background-color: red;
}
.most-popular {
  width: 20vh;
  height: 20vh;
  background-color: blue;
}